.ctn-post {
    margin-bottom: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-title {
    font-size: 1.5em;
}

.post-topic,
.author {
    width: fit-content;
    font-size: 1.1em;
}

.Politics>p.post-topic {
    background-color: aqua;
}

.Default>p.post-topic {
    background-color: lightyellow;
}

.Daily>p.post-topic {
    background-color: lightcoral;
}

.Technology>p.post-topic {
    background-color: lightgreen;
}

.content {
    border-top: 1px dotted gray;
}