{% extends "app/template.html" %}
{% block content %}
{% if filter_by_author %}
<h2>My posts</h2>
{% else %}
<h2>Home</h2>
{% endif %}
{% for post in page_obj %}
<div class="ctn-post {{ post.topic }}">
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-topic">{{ post.topic }}</p>
    <img class="profile-img" src="{{ post.author.profile.image.url }}" alt="Profile image">
    <p class="author">
        By <strong>{{ post.author }}</strong> on <strong>{{ post.date_posted|date:"Y.m.d, H:i" }}</strong>
    </p>
    <p class="content">{{ post.content|linebreaksbr }}</p>
    <form method="POST" action="{% url 'add-comment' pk=post.id %}">
        {% csrf_token %}
        <input type="text" name="comment" maxlength="300" class="comment-input" placeholder="Add a comment..." required>
        <!-- Hidden field to pass post ID if needed (optional, depending on URL setup) -->
        <!-- <input type="hidden" name="post_id" value="{{ post.id }}"> -->
    </form>
    <div class="comments">
        {% for comment in post.comment_set.all %}
        <p><strong>{{ comment.author }}</strong>: {{ comment.content }}</p>
        {% endfor %}
    </div>

    {% if filter_by_author %}
    <div class="ctn-btn-post">
        <a href="{% url 'post-update' pk=post.id %}">
            <button type="button" class="action-button">Edit</button>
        </a>
        <form action="{% url 'post-delete' pk=post.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
    {% endif %}
</div>

{% endfor %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <!-- <a href="?page={{ page_obj.previous_page_number }}">Previous</a> -->
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if num >= page_obj.number|add:"-3" and page_obj.number|add:"3" >= num %}
    {% if num == page_obj.number %}
    <strong>{{ num }}</strong>
    {% else %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <!-- <a href="?page={{ page_obj.next_page_number }}">Next</a> -->
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

{% endblock content %}