{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'app/euch.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}">
    <title>Django Blog</title>
</head>

<body>
    <nav class="topnav">
        <a class="active" href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'post-create' %}">New post</a>
        <a href="{% url 'my-post' %}">My posts</a>
        <a href="{% url 'profile' %}">My Profile</a>
        <a href="{% url 'signout' %}">Sign out</a>
        <!-- <a href="{% url 'profile' %}">Profile</a> -->
        <p>Welcome, {{ user.username }}!</p>
        {% else %}
        <a href="{% url 'signin' %}">Sign in</a>
        <a href="{% url 'register' %}">Register</a>
        <p>Hello, guest!</p>
        {% endif %}
    </nav>
    <div class="ctn-l">
        <h3>Topics</h3>
        <form method="get" id="topics-form">
            {% for topic in topics %}
            <label class="topic-label">
                <input {% if topic in selected_topics %}checked{% endif %} type="checkbox" name="topics"
                    value="{{ topic }}">
                {{ topic }}
            </label>
            {% endfor %}
            <input type="hidden" name="topics" value="" />
            {% if topics %}
            <div class="ctn-btn">
                <button type="button" onclick="selectAll()">Select All</button>
                <button type="button" onclick="unselectAll()">Unselect All</button>
            </div>
            <button type="submit">Filter</button>
            {% endif %}
        </form>
    </div>
    <div class="ctn-r">
        {% if messages %}
        <div id="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </p>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script>
        function selectAll() {
            const checkboxes = document.querySelectorAll('#topics-form input[type="checkbox"]');
            checkboxes.forEach(cb => cb.checked = true);
            // document.getElementById('topics-form').submit();
        }

        function unselectAll() {
            const checkboxes = document.querySelectorAll('#topics-form input[type="checkbox"]');
            checkboxes.forEach(cb => cb.checked = false);
            // document.getElementById('topics-form').submit();
        }
        setTimeout(function () {
            const messages = document.getElementById('messages');
            if (messages) {
                messages.style.transition = "opacity 0.5s ease";  // Smooth fade out
                messages.style.opacity = 0;  // Make it invisible
                setTimeout(() => messages.remove(), 500);  // Remove from DOM after fade
            }
        }, 5000);
        // onchange="toggle('{{ topic }}')"
        // function toggle(topic) {
        //     console.log(topic);
        //     const topicElements = document.querySelectorAll('.' + topic);
        //     const checkbox = document.querySelector(`input[value="${topic}"]`);
        //     topicElements.forEach(function (element) {
        //         if (checkbox.checked) {
        //             element.style.display = "block";
        //         } else {
        //             element.style.display = "none";
        //         }
        //     });
        // }
    </script>
</body>

</html>