.post-form {
    font-size: 1.1em;
    width: 500px;
}

.post-form p {
    margin-bottom: 20px;
}

.post-form p label {
    display: block;
    margin-bottom: 4px;
}

.post-form p input,
.post-form p textarea {
    display: block;
    width: 100%;
    font-size: 1em;
}

.post-form p select {
    font-size: 1em;
}